<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>

<meta charset="UTF-8">
<title>WebPortal Main</title>

<!-- モバイル設定 -->
<meta id="viewport" name="viewport"
	content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<link rel="manifest" th:href="@{/css/manifest.json}"
	crossorigin="use-credentials">
<meta name="application-name" content="WebPortal">
<meta name="mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-title" content="WebPortal">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">

<!-- アイコン設定 -->
<link rel="icon" th:href="@{/img/favicon.ico}" sizes="192x192"
	href="../static/img/favicon.ico">
<link rel="shortcut icon" th:href="@{/img/favicon.ico}">
<link rel="apple-touch-icon" th:href="@{/img/favicon.ico}">
<link rel="apple-touch-icon" th:href="@{/img/favicon.ico}"
	sizes="192x192">
<link rel="apple-touch-icon" th:href="@{/img/favicon.ico}" sizes="58x58">

<!-- スタイル設定 -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
<link rel="stylesheet" th:href="@{/css/ress.css}"
	href="../static/css/ress.css">
<link rel="stylesheet" th:href="@{/css/home.css}"
	href="../static/css/home.css">
</head>

<body th:classappend="${session.isDarkmode} ? 'mode-dark'">

	<!-- 共通ヘッダ -->
	<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
		<h1>
			<a class="navbar-brand title-font" th:href="@{/}"
				style="font-family: cursive">WebPortal.com</a>
		</h1>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarToggler" aria-controls="navbarToggler"
			aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarToggler">
			<ul class="navbar-nav ml-auto mt-2 mt-lg-0">
				<li class="nav-item active"><a class="nav-link"
					th:href="@{/change}"> <img class="config-img"
						th:src="@{/img/config.png}" src="../static/img/config.png">
				</a></li>
				<li>
					<form class="my-2 my-lg-0" method="post" th:action="@{/logout}">
						<button class="btn btn-outline-light my-2 my-sm-0" type="submit">Logout</button>
					</form>
				</li>
			</ul>
		</div>
	</nav>

	<!-- コンテンツ -->

	<div class="content-box">
		<h2>タスク管理</h2>

		<hr>

		<span th:if="${errorMessage.length() == 6}"> <span
			class="alert alert-primary" role="alert" th:text="${errorMessage}"></span>
		</span> <span th:if="${errorMessage.length() == 11}"> <span
			class="alert alert-warning" role="alert" th:text="${errorMessage}"></span>
		</span>
		<div class="container">

			<form method="post" th:action="@{/task/insert}">
				<div class="row">
					<div class="col-sm-2"></div>
					<div class="col-sm-3">
						<input type="text" class="form-control" name="title"
							placeholder="タイトル">
					</div>
					<div class="col-sm-2"></div>
					<div class="col-sm-3">
						<input type="text" class="form-control" name="comment"
							placeholder="タスク内容">
					</div>
				</div>
				<div class="row">
					<div class="col-sm-2"></div>
					<div class="col-sm-3">
						<input type="date" class="form-control" name="limitday">
					</div>
					<div class="col-sm-2"></div>
					<div class="col-sm-2">
						<select class="form-control" name="priority">
							<option value="1">大</option>
							<option value="2">中</option>
							<option value="3">小</option>
						</select>
					</div>
				</div>
				<div clas="row">
					<div class="col-sm-12">
						<span class="input-group-btn">
							<button type="submit" class="btn btn-warning btn-lg">追加</button>
						</span>
					</div>
				</div>

			</form>
		</div>

		<hr>
		<table class="table">
			<tr class="thead-dark">
				<th scope="col">タイトル</th>
				<th scope="col">優先度</th>
				<th scope="col">タスク内容</th>
				<th scope="col">日付</th>

			</tr>
			<tr th:each="task : ${taskEntity.tasklist}">
				<td th:text="${task.title}" class="table-light" scope="col"></td>
				<td th:text="${task.priority.getValue()}" class="table-light"
					scope="col"></td>
				<td class="table-light" scope="col"><a id="delete"
					th:href="@{'/task/delete/' + ${task.id}}"><span
						th:text="${task.comment}"></span></a></td>
				<td th:text="${task.limitday}" class="table-light" scope="col"></td>
			</tr>
		</table>
	</div>
	<hr>


	<form method="post" th:action="@{/task/csv}">
		<button type="submit" class="btn btn-info">csv出力</button>
	</form>
	</div>
	<!-- 共通スクリプト -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
		crossorigin="anonymous"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
		crossorigin="anonymous"></script>
	<script>
		function Check() {
			var a = document.zipcode_form.zipcode.value;
			if (a == "" || a.length != 7) {
				alert("不正な入力です");
				return false;
			} else {
				return true;
			}
		}
	</script>
	<script th:src="@{/js/task.js}"></script>
	<script>
		function weatherCheck() {
			var a = $('[name=citycode]').val();
			if (a.length != 6) {
				alert("不正な入力です");
				return false;
			}
			return true;
		}
	</script>
</body>
</html>